body{
    background-color: hsl(212, 45%, 89%);
}

div.main{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    
}
.container{
    width: 375px;
    background-color: white;
    border-radius: 15px;
        margin: 60px 10px 10px 10px;
        padding-top: 20px;
        box-sizing: border-box;
        position: relative;
        box-shadow: 0 0 20px 10px rgba(29, 29, 29, 0.1);
}

.image{
    display: flex;
    justify-content: center;

}

img{
    width: 330px;
    border-radius: 10px;
}

.fonts{
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 40px;
}

h1{
    font-size: 1.7em;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    text-align: center;
}

p{
    font-weight: 400;
    color: gray;
    text-align: center;
}
